<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <p id="app1">Using mustaches: {{ rawHtml }}</p>
      <p>Using v-html directive: <span id="app2" v-html="rawHtml"></span></p>

  <script src="../vue.js"></script>
  <script type="text/javascript">
  // 不能使用 v-html 来复合局部模板，因为 Vue 不是基于字符串的模板引擎。
  // 反之，对于用户界面 (UI)，组件更适合作为可重用和可组合的基本单位。
  // 你的站点上动态渲染的任意 HTML 可能会非常危险，因为它很容易导致 XSS 攻击。
  // 请只对可信内容使用 HTML 插值，绝不要对用户提供的内容使用插值。
      rawHtml = {
        rawHtml : '<b>Come on!</b>'
      }
      var app1 = new Vue({
          el: '#app1',
          data: {
              rawHtml : rawHtml
          }
      });

      var app2 = new Vue({
          el: '#app2',
          data: {
              rawHtml : rawHtml
          }
      });
  </script>
  </body>
</html>
