<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <ul id="app1">
        <!-- of 可以代替 in -->
        <li v-for="item of items">
          {{ item.message }}
        </li>
      </ul>
      <ul id="app2">
        <li v-for="(item, index) in items">
          {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
      </ul>
      <!-- 迭代对象的属性 -->
      <ul id="app3">
        <li v-for="value in object">
          {{ value }}
        </li>
      </ul>
      <!-- 迭代对象的属性, 使用键名 -->
      <ul id="app4">
        <li v-for="(value, key) in object">
          {{ key }}: {{ value }}
        </li>
      </ul>

      <!-- 迭代对象的属性, 使用键名, 索引 -->
      <ul id="app5">
        <li v-for="(value, key, index) in object">
          {{ index }}. {{ key }}: {{ value }}
        </li>
      </ul>
  <script src="../vue.js"></script>
  <script type="text/javascript">
      var app1 = new Vue({
          el: '#app1',
          data: {
              items: [
                { message: 'Foo'},
                { message: 'Bar'}
              ]
          }
      });

      var app2 = new Vue({
          el: '#app2',
          data: {
              parentMessage: 'Parent',
              items: [
                { message: 'Foo'},
                { message: 'Bar'}
              ]
          }
      });

      // 在遍历对象时，是按 Object.keys() 的结果遍历，
      // 但是不能保证它的结果在不同的 JavaScript 引擎下是一致的。
      var app3 = new Vue({
          el: '#app3',
          data: {
              object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
              }
          }
      });

      var app4 = new Vue({
          el: '#app4',
          data: {
              object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
              }
          }
      });

      var app5 = new Vue({
          el: '#app5',
          data: {
              object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
              }
          }
      });
  </script>
  </body>
</html>
