<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <ul id="app1">
        <!-- of 可以代替 in -->
        <li v-for="item of items">
          {{ item.message }}
        </li>
      </ul>
      <ul id="app2">
        <li v-for="(item, index) in items">
          {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
      </ul>
      <!-- 迭代对象的属性 -->
      <ul id="app3">
        <li v-for="value in object">
          {{ value }}
        </li>
      </ul>
      <!-- 迭代对象的属性, 使用键名 -->
      <ul id="app4">
        <li v-for="(value, key) in object">
          {{ key }}: {{ value }}
        </li>
      </ul>

      <!-- 迭代对象的属性, 使用键名, 索引 -->
      <ul id="app5">
        <li v-for="(value, key, index) in object">
          {{ index }}. {{ key }}: {{ value }}
        </li>
      </ul>
  <script src="../vue.js"></script>
  <script type="text/javascript">
      var app1 = new Vue({
          el: '#app1',
          data: {
              items: [
                { message: 'Foo'},
                { message: 'Bar'}
              ]
          }
      });

      var app2 = new Vue({
          el: '#app2',
          data: {
              parentMessage: 'Parent',
              items: [
                { message: 'Foo'},
                { message: 'Bar'}
              ]
          }
      });

      // 在遍历对象时，是按 Object.keys() 的结果遍历，
      // 但是不能保证它的结果在不同的 JavaScript 引擎下是一致的。
      var app3 = new Vue({
          el: '#app3',
          data: {
              object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
              }
          }
      });

      var app4 = new Vue({
          el: '#app4',
          data: {
              object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
              }
          }
      });

      var app5 = new Vue({
          el: '#app5',
          data: {
              object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
              }
          }
      });

      /*
          1、Vue 提供的变异方法 (mutation method)

            push()
            pop()
            shift()
            unshift()
            splice()
            sort()
            reverse()

          测试 : 控制台实验 app1.items.push({ message: 'Baz' })

          2、非变异 (non-mutating method) 方法

            filter()
            concat()
            slice()

          替换数组 并非丢弃现有 DOM 并重新渲染整个列表

          app1.items = app1.items.filter(function (item) {
            return item.message.match(/Foo/)
          })

          3、注意事项

          由于 JavaScript 的限制，Vue 不能检测以下变动的数组：
            1)、当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue
            2)、当你修改数组的长度时，例如：vm.items.length = newLength
          为了解决第一类问题，以下两种方式都可以实现和 vm.items[indexOfItem] = newValue 相同的效果，
          同时也将触发状态更新：

            Vue.set(app1.items, indexOfItem, newValue)
              exp : Vue.set(app1.items, 2, {message: 'Hi'})
            app1.items.splice(indexOfItem, 1, newValue)
              exp : app1.items.splice(3, 1, {message: 'Hi'})
          为了解决第二类问题，你可以使用 splice

            app1.items.splice(newLength) 可以直接缩短长度 (其实就是切片数组)


          4、对象更改检测注意事项
            由于 JavaScript 的限制，Vue 不能检测对象属性的添加或删除

          使用 Vue.set(object, key, value) 方法向嵌套对象添加响应式属性
            exp : Vue.set(app3.object, 'gender', 'male')
          你还可以使用 vm.$set 实例方法，它只是全局 Vue.set 的别名
            exp : app3.$set(app3.object, 'gender', 'male')

          有时你可能需要为已有对象赋予多个新属性，比如使用 Object.assign() 或 _.extend()。
          在这种情况下，你应该用两个对象的属性创建一个新的对象。
          所以，如果你想添加新的响应式属性，不要像这样：
            Object.assign(app3.object, {
              age: 27,
              gender: 'male'
            })

          你应该这样做：
            app3.object = Object.assign({}, app3.object, {
              age: 27,
              gender: 'male'
            })

      */

  </script>
  </body>
</html>
